# Environment variables example template
# Copy this file to .env or .env.local to configure your environment variables.

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=your_app_secret_here
APP_SHARE_DIR=var/share
###< symfony/framework-bundle ###

###> symfony/routing ###
DEFAULT_URI=http://localhost
###< symfony/routing ###
